.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  -ms-flex: 25%;
  flex: 25%;
  max-width: 70%;
  padding: 0 10px;
}

.column img {
  margin-top: 10px;
  vertical-align: middle;
  width: 100%;
}

.btn-light {
  font-weight: bold;
  width: 100px;
  color: #fff;
  background-color: #14171a;
  border-color: #f46f30;
  padding: 10px;
  margin: 40px;
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
