body {
  background-color: #f46f30;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 22px;
}

.column {
  -ms-flex: 25%;
  flex: 25%;
  max-width: 70%;
  padding: 0 10px;
  margin-top: 0px;
}

.column img {
  margin-top: 10px;
  vertical-align: middle;
  width: 100%;
}

.btn-light {
  font-weight: bold;
  width: 100px;
  height: 50px;
  color: #fff;
  background-color: #14171a;
  border-color: red;
  padding: 13px;
  margin: 20px;
}

@media (max-width: 767px) {
  .btn-light {
    width: auto;
  }
}

@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}
