body {
    font-family: 'Cormorant Garamond', serif;
    margin: 0px;
}

/*--------------==-----Navbar-----------------------*/

.navbar-dark .navbar-toggler {
    border: 0;
}

.navbar {
    margin-bottom: 0;
    padding: 0px;
    width: 100%;
}

.navbar-nav li {
    padding-right: 20px;
}

.nav-link {
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.nav-item-home {
    font-weight: bold;
}

.nav-item {
    font-weight: bold;
}

/*---------------------Headings---------------------*/

.main-heading {
    margin-bottom: 23rem;
    color: #fff;
    font-size: 5rem;
    font-weight: bold;
    font-style: oblique;
}

.head {
    margin-left: 10px;
}

.welcome {
    color: #f46f30;
    font-weight: bold;
}

.gallery {
    color: #fff;
    font-size: 1.2rem;
    padding: 20px;
}

.connect {
    color: #14171a;
    font-weight: bold;
}

.music {
    color: #14171a;
    font-weight: bold;
}

.shows {
    color: #14171a;
    font-weight: bold;
}

.news {
    color: #14171a;
    font-weight: bold;
}

/*---------------------Buttons-----------------------*/

.btn-primary {
    font-weight: bold;
    width: 170px;
    color: #fff;
    background-color: #14171a;
    border-color: #f46f30;
}

.btn-light {
    font-weight: bold;
    width: 100px;
    color: #fff;
    background-color: #14171a;
    border-color: #f46f30;
}

.card-btn {
    width: 100px;
    border-radius: 20px;

}

.button {
    color: #f46f30;
}

/*--------------------Jumbotron--------------------*/

.group {
    background-color: transparent;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*---------------------Image-----------------------*/

.image {
    height: 100vh;
    background-attachment: fixed;
    background: url("../images/group.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

/*---------------------News-----------------------*/

.News1 {
    display: inline-table;
    margin: 20px;
    padding: 20px;
    height: 300px;
    color: #14171a;
    background-color: #fdf5e6;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.News2 {
    display: inline-table;
    margin: 20px;
    padding: 20px;
    height: 330px;
    color: #14171a;
    background-color: #fdf5e6;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.News3 {
    display: inline-table;
    margin: 20px;
    padding: 20px;
    padding-left: 20px;
    height: 270px;
    color: #14171a;
    background-color: #fdf5e6;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);

}

.image-band {
    position: relative;
    width: 250px;
    height: 150px;
    border: 2px solid #000;
    float: right;

}

.image-band2 {
    position: relative;
    width: 170px;
    height: 150px;
    border: 2px solid #000;
    float: right;
}

.image-band3 {
    position: relative;
    width: 170px;
    height: 150px;
    border: 2px solid #000;
    float: right;
}

.image-band4 {
    position: relative;
    width: 200px;
    height: 150px;
    border: 2px solid #000;
    float: right;
}

.news-container {
    background-color: #f46f30;
}

/*----------------------Table-----------------------*/

.table-container {
    height: auto;
    margin-top: 100px;
    padding: 20px;
    font-weight: bold;
}

.wrapper {
    background-color: #ecdcea;
    border-radius: 80px;
    opacity: 0.75
}

.shows-section {
    position: relative;
    width: 100%
}

.show-container {
    height: auto;
    padding: 40px;
    background-attachment: fixed;
    background: url("../images/image.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    justify-content: center;
}

/*-------------------Music/Cards-----------------------*/

.videos {
    font-size: 2.5rem;
}

.music-section {
    background-color: #f46f30;
    padding-bottom: 20px;
}

.card-audio {
    background-color: #dcdcdc;
    border-radius: 80px;
    border: 2px solid #000;

}

.card-sound {
    background-color: #dcdcdc;
    border-radius: 80px;
    border: 2px solid #000;

}

.card-video {
    background-color: #dcdcdc;
    border-radius: 80px;
    border: 2px solid #000;
}

.card-img-top {
    border-radius: 80px;
}

/*---------------social-links------------------*/

.social-links a {
    font-size: 50px;
    padding: 48px;
}

.fa-facebook-square {
    color: #1877f2;
}

.fa-twitter {
    color: #1da1f2;
}

.fa-instagram {
    color: #517fa4;
}

.fa-youtube {
    color: #ff0000;
}

.fa-spotify {
    color: #1ed760;
}

.fa-soundcloud {
    color: #ff5500;
}

.connect-container {
    padding-top: 100px;
}

.social-links {
    margin-top: 2rem;
}

.container-head {
    position: relative;
    height: 100vh;
    background-attachment: fixed;
    background: url("../images/social.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/*-------------------Hover--------------------*/

.fa-facebook-square:hover {
    color: #e4e5e7;
}

.fa-twitter:hover {
    color: #e4e5e7;
}

.fa-instagram:hover {
    color: #e4e5e7;
}

.fa-youtube:hover {
    color: #e4e5e7;
}

.fa-spotify:hover {
    color: #e4e5e7;
}

.fa-soundcloud:hover {
    color: #e4e5e7;
}

.submit:hover {
    color: #dcdcdc;
}

.btn-primary:hover,
.btn-light:hover {
    background-color: #e4e5e7;
    border-color: #e4e5e7;
}

/*--------------------Divider-------------------*/

.divider {
    border: 1px solid;
    color: #38027c;
    width: 15rem;
}

/*------------------Media-queries---------------*/

@media (max-width: 767px) {
    .social-links a {
        font-size: 30px;
        padding: 24px;
    }

    .show-container {
        height: auto;
    }
    .card-sound,
    .card-audio,
    .card-video {
        margin-top: 5px;
        margin-bottom: 1rem;
        font-size: 80%
    }
    .image {
        height: 50vh;
    }
    .jumbotron {
        height: 20vh;
    }
    .main-heading {
        font-size: 2.5rem;

    }
    .gallery {
        color: #fff;
        font-size: 0.8rem;
    }
    .btn-light {
        width: 60px;
        color: #fff;
    }

    .videos {
        display: none;
    }
    .table-container {
        font-size: 50%;
        display: inline-table;
        letter-spacing: 0.2px;
    }

    .main-heading {
        margin-bottom: 10rem;
        margin-left: 4rem;
    }
.blockquote {
        font-size: 100%
    }

}

/*
 Medium devices (tablets, 768px and up)
@media (min-width: 768px) {..}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }*/

/*/
