body {
    /* background-color: #dcdcdc;*/
    font-family: 'Cormorant Garamond', serif;
    margin: 0;
}

/*----------------------------------------Navbar*/

.navbar {
    margin-bottom: 0;
    padding: 0px;
    width: 100%;
    border: 0;
}

.navbar-nav li {
    padding-right: 20px;
}

.nav-link {
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.nav-item-home {
    font-weight: bold;
}

.nav-item {
    font-weight: bold;
}



/*----------------------------------------Headings*/

.main-heading {
    color: #fff;
    font-size: 5rem;
    font-weight: bold;
    font-style: oblique;

}

.welcome {
    color: #fff;
    font-weight: bold;
}

.gallery {
    color: #fff;
}

.connect {
    color: #14171a;
    font-weight: bold;
}

.music {
    color: #14171a;
    font-weight: bold;
}

.shows {
    color: #14171a;
    font-weight: bold;
}

.news {
    color: #14171a;
    font-weight: bold;
}



/*-----------------------------------------Buttons*/

.btn-primary {
    font-weight: bold;
    width: 170px;
    color: #fff;
    background-color: #4285f4;
    border-color: #4285f4;
}

.btn-primary-gallery {
    font-weight: bold;
    width: 100px;
    padding: color: #fff;
    background-color: #4285f4;
    border-color: #4285f4;
}

.card-btn {
    width: 100px;
    border-radius: 20px;

}

/*-----------------------------------------jumbotron*/

.group {
    background-color: transparent;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*display: flex;*/
    align-items: center;
    justify-content: cover;

}

.image {
    height: 100vh;
    background-attachment: fixed;
    background: url("../images/group.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

.image-band {
    position: relative;
    width: 250px;
    height: 150px;
    border: 2px solid #000;
    float: right;

}

.image-band2 {
    position: relative;
    width: 170px;
    height: 150px;
    border: 2px solid #000;
    float: right;

}

.image-band3 {
    position: relative;
    width: 170px;
    height: 150px;
    border: 2px solid #000;
    float: right;

}

.image-band4 {
    position: relative;
    width: 200px;
    height: 150px;
    border: 2px solid #000;
    float: right;

}


.table-container {
    margin-top: 80px;
    
}

.wrapper {
    background-color: #dcdcdc;

}

.news-container {
    background-color: #f46f30;
}

}

.videos {
    font-size: 2.5rem;

}

.container-head {
    margin-top: 100px;
}


.show-container {
    height: 100vh;
    background-attachment: fixed;
    background: url("../images/guitar.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
   

    display: flex;
  
    justify-content: center;
}


.music-section {
    background-color: #f46f30;
}






.News1 {
    margin: 20px;
    padding: 20px;
    height: 300px;
    color: #14171a;
    background-color: #fdf5e6;
}

.News2 {
    margin: 20px;
    padding-top: 0px;
    height: 300px;
    color: #14171a;
    background-color: #dcf8c6;
}

.News3 {
    margin: 20px;
    padding-top: 20px;
    height: 250px;
    color: #14171a;
    background-color: #9bcfcc;
}

/*---------------social-links------------------*/

.social-links a {
    font-size: 64px;
    padding: 48px;
}

.fa-facebook-square {
    color: #1877f2;
}

.fa-twitter {
    color: #1da1f2;
}

.fa-instagram {
    color: #517fa4;
}

.fa-youtube {
    color: #ff0000;
}

.fa-spotify {
    color: #1ed760;
}

.fa-soundcloud {
    color: #ff5500;
}



.container-head {
    padding-top: 80px;
}


/*------------------------------Hover-----*/

.fa-facebook-square:hover {
    color: #e4e5e7;
}

.fa-twitter:hover {
    color: #e4e5e7;
}

.fa-instagram:hover {
    color: #e4e5e7;
}

.fa-youtube:hover {
    color: #e4e5e7;
}

.fa-spotify:hover {
    color: #e4e5e7;
}

.fa-soundcloud:hover {
    color: #e4e5e7;
}


.btn-primary:hover,
.btn-primary-gallery:hover {
    background-color: #e4e5e7;
    border-color: #e4e5e7;

}

/*-------------------------------------Cards------*/

.card-sound {
    background-color: #dcdcdc;
    border-radius: 80px;
    border: 2px solid #000;

}

.card-audio {
    background-color: #dcdcdc;
    border-radius: 80px;
    border: 2px solid #000;
}

.card-img-top {
    border-radius: 80px;
}

/*-------------------------------------Divider-----*/

.divider {
    border: 1px solid;
    color: #38027c;
    width: 50%;
}
